.content>.rightList>.box>.rh_title {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.content>.rightList>.box>.rh_title>li {
    width: 11%;
    height: 50px;
    background: #ccc;
    text-align: center;
    line-height: 50px;
    float: left;
    cursor: pointer;
    font-size: 15px;
    /*border-bottom: 1px solid #ccc;*/
}

.content>.rightList>.box>.rh_title>.current {
    background: #199ed8;
}

.content>.rightList>.box>.rh_cont {
    width: 100%;
    height: auto;
    margin-top: 60px;
}

.content>.rightList>.box>.rh_cont>li {
    display: none;
}

.content>.rightList>.box>.rh_cont>.show {
    display: block;
}

.content>.rightList>.box>.public {
}

.content>.rightList>.box>.public>.chooseTime {
    margin-bottom: 10px;
    font-size: 15px;
}

.content>.rightList>.box>.public>.chooseTime>label {
    position: relative;
    padding-left: 7px;
    /*width: 6em;*/
    height: 26px;
    line-height: 26px;
}

.content>.rightList>.box>.public>.type {
    margin-bottom: 10px;
    font-size: 15px;
}

.content>.rightList>.box>.public>.type>.choose {
    position: relative;
    top: 6px;
    float: left;
    margin-right: 15px;
    white-space: nowrap;
}

.content>.rightList>.box>.public>.type>.choose>.checkboxouter {
    float: left;
    position: relative;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    background: url("../img/radio.png");
}

.content>.rightList>.box>.public>.type>.choose input[type=radio], .kv-item .choose input[type=checkbox] {
    position: relative;
    *position: static;
    float: left;
    margin-right: -16px;
}

.content>.rightList>.box>.public>.type>.choose .checkboxouter input[type="radio"] {
    opacity: 0;
    filter: alpha(opacity=0);
    background: red;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.content>.rightList>.box>.public>.type>.choose .checkboxouter .radio {
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    width: 16px;
    background: none;
}

.content>.rightList>.box>.public>.type>.choose .checkboxouter input[type="radio"]:checked ~.radio {
    background: url("../img/radiochecked.png");
}

.content>.rightList>.box>.public>.type>.choose .text {
    float: left;
    padding-left: 5px;
    *padding-left: 5px;
    white-space: nowrap;
    font-size: 14px;
}

.content>.rightList>.box>.public>.type>.timer {
    margin-top: 2px;
    font-size: 15px;
}

.content>.rightList>.box>.public>.type>.search-button>input {
    display: inline-block;
    width: 135px;
    height: 30px;
    background: url("../img/formbtnbg.png");
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.table{
    display: table;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 75px 0 0 100px;
}
.table-row-group {
    display: table-row-group;
}
.table-row-group .header {
    color: #fff;
    font-size: 18px;
    /* font-weight: bold; */
    background: #169bd5;
}
.table-row-group .header:hover{
    background: #169bd5!important;
}
.table-row {
    display: table-row;
}

.table-row-group .table-row:hover,.table-footer-group .table-row:hover {
    background: #f6f6f6;
}

.table-cell {
    display: table-cell;
    padding: 8px 58px;
     border: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
}
.table-cell a{
    text-decoration: none;
    color: blue;
}
.table-header-group {
    display: table-header-group;
    background: #eee;
    font-weight: bold;
}

.table-footer-group {
    display: table-footer-group;
}
.recharge,.give,.exchange{
    color: blue;
    cursor: pointer;
}
.pages .fenye {
    margin-left: 150px!important;
}
/*弹出层*/
.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9;
    display: none;
}
/*充值，兑换，赠分弹层样式*/
.mask>.commMask{
    position: relative;
    width: 40%;
    height: 300px;
    margin: 13% 30% 0 30%;
    background: #fff;
}
.mask>.commMask1{
    position: relative;
    width: 50%;
    height: 500px;
    margin: 10% 25% 0 25%;
    background: #fff;
}
.mask>.commMask>.close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
}
.mask>.commMask>.close>img{
    width: 30px;
    height: 30px;
    padding-top: 10px;
}

/*总充值*/
.mask>.commMask>.rechargeList{
    padding-top: 50px;
    display: none;
}
.mask>.commMask>.rechargeList>.rechargeLeft{
    width: 33%;
    text-align: center;
    overflow: hidden;
    height: 325px;
}
.mask>.commMask>.rechargeList>.rechargeCenter{
    width: 33%;
    text-align: center;
    overflow: hidden;
    height: 325px;
}
.mask>.commMask>.rechargeList>.rechargeRight{
    width: 33%;
    text-align: center;
    overflow: hidden;
    height: 325px;
}
.mask>.commMask>.rechargeList>.rechargeLeft,.rechargeCenter,.rechargeRight>ul>li{
    line-height: 30px;
    font-size: 15px;
}
.mask>.commMask>.rechargeList>.rechargeLeft>ul>li>span{
    font-size: 18px;
    font-weight: bold;
}
.mask>.commMask>.rechargeList>.rechargeCenter>ul>li>span{
    font-size: 18px;
    font-weight: bold;
}
.mask>.commMask>.rechargeList>.rechargeRight>ul>li>span{
    font-size: 18px;
    font-weight: bold;
}

/*总赠分*/
.mask>.commMask>.giveList{
    padding-top: 50px;
    display: none;
}
.mask>.commMask>.giveList>.giveLeft{
    width: 33%;
    text-align: center;
    overflow: hidden;
    height: 325px;
}
.mask>.commMask>.giveList>.giveCenter{
    width: 33%;
    text-align: center;
    overflow: hidden;
    height: 325px;
}
.mask>.commMask>.giveList>.giveRight{
    width: 33%;
    text-align: center;
    overflow: hidden;
    height: 325px;
}
.mask>.commMask>.giveList>.giveLeft,.giveCenter,.giveRight>ul>li{
    line-height: 30px;
    font-size: 15px;
}
.mask>.commMask>.giveList>.giveLeft>ul>li>span{
    font-size: 18px;
    font-weight: bold;
}
.mask>.commMask>.giveList>.giveCenter>ul>li>span{
    font-size: 18px;
    font-weight: bold;
}
.mask>.commMask>.giveList>.giveRight>ul>li>span{
    font-size: 18px;
    font-weight: bold;
}
/*总赠分*/
.mask>.commMask>.exchangeList{
    padding-top: 50px;
    display: none;
}
.mask>.commMask>.exchangeList>.exchangeLeft{
    width: 33%;
    text-align: center;
    overflow: hidden;
    height: 325px;
}
.mask>.commMask>.exchangeList>.exchangeCenter{
    width: 33%;
    text-align: center;
    overflow: hidden;
    height: 325px;
}
.mask>.commMask>.exchangeList>.exchangeRight{
    width: 33%;
    text-align: center;
    overflow: hidden;
    height: 325px;
}
.mask>.commMask>.exchangeList>.exchangeLeft,.exchangeCenter,.exchangeRight>ul>li{
    line-height: 30px;
    font-size: 15px;
}
.mask>.commMask>.exchangeList>.exchangeLeft>ul>li>span{
    font-size: 18px;
    font-weight: bold;
}
.mask>.commMask>.exchangeList>.exchangeCenter>ul>li>span{
    font-size: 18px;
    font-weight: bold;
}
.mask>.commMask>.exchangeList>.exchangeRight>ul>li>span{
    font-size: 18px;
    font-weight: bold;
}
@media screen and (min-width:1200px) and (max-width:1623px){
    .content>.rightList>.box>.rh_title>li {
        width: 10%;
    }
    .mask>.commMask>.exchangeList>.down {
        margin-left: 160px;
    }
    .mask>.commMask>.rechargeList>.down {
        margin-left: 160px;
    }
    .mask>.commMask>.giveList>.down {
        margin-left: 160px;
    }
    .table-cell{
        padding: 5px 35px;
    }
    .table{
        margin: 75px 0 0 40px;
    }
}