/*右侧列表*/
.content>.rightList>.box {
    position: relative;
}

.content>.rightList>.box>.rh_title {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.content>.rightList>.box>.rh_title>li {
    width: 183px;
    height: 50px;
    background: #ccc;
    text-align: center;
    line-height: 50px;
    float: left;
    cursor: pointer;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
}

.content>.rightList>.box>.rh_title>.current {
    background: #fff;
}
.content>.rightList>.box>.leftDown{
    position: absolute;
    top: 195px;
    width: 100px;
    height: 90px;
}
.content>.rightList>.box>.leftDown>ul{
    width: 100%;
    height: 100%;
}
.content>.rightList>.box>.leftDown>ul>li{
    height: 50%;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}
.content>.rightList>.box>.leftDown>ul>li>a{
    display: block;
    text-decoration: none;
    color: #000;
}
.content>.rightList>.box>.leftDown>ul>.ldActive{
    background: #ccc;
}
.content>.rightList>.box>.rh_cont {
    width: 90%;
    height: 300px;
    margin: 5% 0 0 9%;
    overflow: hidden;
}

.content>.rightList>.box>.rh_cont>li {
    display: none;
}

.content>.rightList>.box>.rh_cont>.show {
    display: block;
}
.content>.rightList>.box>.rh_cont>li>ul>li{
    float: left;
    width: 10%;
    height: 90px;
    /*border: 1px solid #000;*/
    margin: 0 1% 1% 0;
    line-height: 90px;
    text-align: center;
    background: #ccc;
    font-size: 15px;
    cursor: pointer;
}
.content>.rightList>.box>.public>.chooseTime {
    margin-bottom: 10px;
    font-size: 15px;
}

.content>.rightList>.box>.public>.chooseTime>label {
    position: relative;
    padding-left: 7px;
    /*width: 6em;*/
    height: 26px;
    line-height: 26px;
}

.content>.rightList>.box>.public>.type {
    margin-bottom: 10px;
    font-size: 15px;
}

.content>.rightList>.box>.public>.type>.choose {
    position: relative;
    top: 6px;
    float: left;
    margin-right: 15px;
    white-space: nowrap;
}

.content>.rightList>.box>.public>.type>.choose>.checkboxouter {
    float: left;
    position: relative;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    background: url("../img/radio.png");
}

.content>.rightList>.box>.public>.type>.choose input[type=radio], .kv-item .choose input[type=checkbox] {
    position: relative;
    *position: static;
    float: left;
    margin-right: -16px;
}

.content>.rightList>.box>.public>.type>.choose .checkboxouter input[type="radio"] {
    opacity: 0;
    filter: alpha(opacity=0);
    background: red;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.content>.rightList>.box>.public>.type>.choose .checkboxouter .radio {
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    width: 16px;
    background: none;
}

.content>.rightList>.box>.public>.type>.choose .checkboxouter input[type="radio"]:checked ~.radio {
    background: url("../img/radiochecked.png");
}

.content>.rightList>.box>.public>.type>.choose .text {
    float: left;
    padding-left: 5px;
    *padding-left: 5px;
    white-space: nowrap;
    font-size: 14px;
}

.content>.rightList>.box>.public>.type>.timer {
    margin-top: 2px;
    font-size: 15px;
}

.content>.rightList>.box>.public>.type>.search-button>input {
    display: inline-block;
    width: 135px;
    height: 30px;
    background: url("../img/formbtnbg.png");
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}
.content>.rightList>.box>.goBack{
    width: 145px;
    /* height: 50px; */
    position: absolute;
    top: 134px;
    left: 115px;
    cursor: pointer;
}
.content>.rightList>.box>.goBack>.back{
    background: #169bd5;
    /*text-decoration: none;*/
    color: #fff;
    line-height: 50px;
    padding: 9px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #ccc;
    display: none;
}
.content>.rightList>.box>.room{
    display: none;
    width: 51%;
    height: auto;
    margin: 5% 0 0 7%;
    padding-bottom: 50px;
    background: #ccc;
    padding-top: 35px;
}
.table{
    display: table;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 30px 0 0 50px;
}
.table-row-group {
    display: table-row-group;
}
.table-row-group .header{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background: #169bd5;
}
.table-row-group .header:hover{
    background: #169bd5!important;
}
.table-row {
    display: table-row;
}

.table-row-group .table-row:hover,.table-footer-group .table-row:hover {
    background: #f6f6f6;
}

.table-cell {
    display: table-cell;
    padding: 10px 60px;
    border: 1px solid #000;
    text-align: center;
}
.table-cell a{
    text-decoration: none;
    color: blue;
}
.table-header-group {
    display: table-header-group;
    background: #eee;
    font-weight: bold;
}

.table-footer-group {
    display: table-footer-group;
}
@media screen and (min-width:1200px) and (max-width:1623px){
    .content>.rightList>.box>.rh_cont {
        width: 85%;
        margin: 5% 0 0 12%;
    }
    .table-cell {
        padding: 7px 27px
    }
    .content>.rightList>.box>.room{
        margin: 10% 0 0 10%;
    }
    .content>.rightList>.box>.rh_cont>li>ul>li {
        margin: 0 1% 1.5% 0;
    }
    .content>.rightList>.box>.goBack {
        top: 168px;
    }
    .content>.rightList>.box>.rh_title>li {
        width: 137px;
    }
}